@charset "UTF-8";

form {
	width: 500px;
	margin: 0 auto;
}
input, textarea {
	font-family: sans-serif;;
	font-weight: normal;
	font-size: 13pt;
	background-color: rgba(255,255,255,0.6);
}
input:hover, textarea:hover {
	background-color: #dddddd;
	opacity: 0.6;
}
legend {
	color: #888888;
	font-weight: bold;
	font-size: 13pt;
	font-family: sans-serif;
}
fieldset {
	border: 1px solid #cecece;
	margin: 20px;
}
fieldset#sexo {
	width: 150px;
}
fieldset#usuario {
	background: url("../img/icone-contato.png") no-repeat 95% 95%;
}
fieldset#endereco {
	background: url("../img/icone-endereco.png") no-repeat 95% 95%;
}
fieldset#msg {
	background: url("../img/icone-mensagem.png") no-repeat 95% 95%;
}
fieldset#pedido {
	background: url("../img/icone-pagamento.png") no-repeat 95% 95%;
}
label#pedido {
	background-color: white;
}